@import "variables";

.credits{
    display: flex;
    gap: 25px;

    > div {
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 130px;
        width: 90px;
        margin: 0;

        p{
            font-size: 12px;
            margin-bottom: 0;
            font-weight: 700;
            color: black;
            text-align: center;
        }

        img {
            object-fit: cover;
            object-position: 50% 40%;
            border-top-left-radius: 10px;
            border-radius: 10px 10px 0 0 ;
        }
    }
}